@import "tailwindcss";

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
}
body {
  background-color: black;
  color: white; 
}


.animate-float {
  animation: float 4s ease-in-out infinite;
}
.perspective-1000 {
  perspective: 1000px;
}
.transform-style-3d {
  transform-style: preserve-3d;
}
